{layout name="public:layout"}

<h2 class="text-success bg-success" style="padding: 10px;">{$title|default="默认标题"}</h2>

<table class="table table-default table-hover text-center table-bordered">
    <tr class="success">
        <td>#</td>
        <td>物品名</td>
        <td>物品单价</td>
        <td>剩余数量</td>
        <td>提供人</td>
        <td colspan="2">操作</td>
    </tr>
    {volist name="saveList" id="item" empty="$empty"}
    <tr>
        <td>{$item.id}</td>
        <td>{$item.goods_id|getGoodsName}</td>
        <td>{$item.goods_id|getGoodsPrice}</td>
        <td>{$item.goods_id|getGoodsNum}</td>
        <td>{$item.rent_id|getUserName}</td>
        <td>
            <a href="javascript:;" class="btn btn-default btn-warning deleBtn" saveId="{$item.id}">删除</a>
        </td>
        <td>
            <a href="{:url('index/goodsDetail', ['id' => $item.goods_id])}" class="btn btn-default btn-info">购买</a>
        </td>
    </tr>
    {/volist}
</table>

<div style="text-align: center">
    {$saveList|raw}
</div>

<!-- 删除提示 -->
<div id="deleModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">评论</h4>
            </div>
            <div class="modal-body">
                你确定删除这条收藏吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="deleSureBtn">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 警告框 -->
<div class="alert fade" style="z-index: 3; position: fixed; top: 200px; left: 50%; width: 400px; margin-left: -200px">
    <div class="alertMsg text-center"></div>
</div>

<script>
    // 封装警告框方法
    function showAlert(alertStyle, alertText, alertTime) {
        $('.alert').addClass(alertStyle);
        $('.alertMsg').text(alertText);
        $('.alert').removeClass('fade').addClass('in');

        return new Promise(function (resolve, reject) {
            setTimeout(function () {
                $('.alert').addClass('fade').removeClass('in');
                resolve();
            }, alertTime)
        })
    }
    var saveId = 0;
    $(function () {
        $('.deleBtn').on('click', function () {
            saveId = $(this).attr(saveId);
            $('#deleModal').modal('show')
        })

        $('#deleSureBtn').on('click', function () {
            $('#deleModal').modal('hide')
            $.ajax({
                type: 'post',
                url: "{:url('trade/deleSave')}",
                data: {
                    id: saveId
                },
                success: function (data) {
                    switch (data.status) {
                        case 1:
                            showAlert('alert-success', data.msg, 1000).then(function () {
                                window.location.href="{:url('trade/goSaveList')}";
                            });
                            break;
                        case 0:
                        case -1:
                            showAlert('alert-danger', data.msg, 1000)
                            break;
                        default:
                            showAlert('alert-danger', data.msg, 1000)
                            break;
                    }
                }
            })
        })
    })
</script>