<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            {if $Think.session.user_id}
                <a class="navbar-brand">
                    用户：{$Think.session.user_name|default="默认用户名"}
                </a>
            {/if}
            <a href="{:url('index/index')}" class="navbar-brand" style="color: #1e88e5;" style="margin-left: 10px">返回首页</a>
        </div>

        {if $Think.session.user_id}
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人设置 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">修改密码</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{:url('trade/goCommentList')}">我的评论</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{:url('trade/goTradeList')}">我的订单</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        {/if}
    </div>
</nav>